*{
    margin: 0;
    padding: 0;
    outline:0;
    border: 0;
    box-sizing: border-box;
    font-family: Titillium web, sans-serif;
}
.container{
    width: 1140px;
    margin: auto;
}
section{
    padding: 100px 0px;
    text-align: center;
}
header{
    background-color: #87509C;
    color:#fff;
    width:100%;
    float:left;
    
}
.heading{
    width: 100%;
    padding: 5px;
    margin: auto;
    color: black;

}



.subheading{
    width: 78%;
    padding: 10px;
    margin: auto;
    color: black;
    font-size: 20px;
    font-weight: 600;

}
.pg{
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0px;
    font-weight: 300px; 
}
/* Navigation */
nav{
    width: 100%;
    float: left;
    padding: 15px;

}
.logo-part{
    width:50%;
    float: left;
}

.menu-part{
    width:50%;
    float: left;

}
.menu-part ul{
    margin: 0px 10px;
    text-align: right;
    
     
}
.menu-part li{
    display: inline-block;
    padding: 10px;
    margin: 0px 5px;
    

}
.menu-part  a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #fff;

}
.hero-writing-part{
    width: 100%;
    float:left;
    text-align: center;
    color: white;
    padding: 150px 0px;

}
.hero-writing-part h1{
    
    
    width: 55%;
    margin: auto;


}
.hero-writing-part a button{
    width: 150px;
    padding: 10px;
    margin-top: 30px;
    color: white;
    background-color: #eb7d4b;


}
#services{
    width:100%;
    float:left;
    background-color: #17C2A4;
    text-align: center;
}
.services-writing-part{
    width: 100%;
    float: left;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;

}
.services-writing-part h1{
    width: 55%;
    margin: auto;


}

.underline{
  border-top: 4px solid;
  color:rgb(153, 148, 148) ; 
  width: 5%;
  margin:30px auto; 
  padding: 5px;
}
.services-writing-part h2{
    width: 75%;
    margin: auto;

}
.services-box-part{
    width: 100%;
    float: left;
}
.services-box{
    width: 25%;
    float: left;
    padding: 0px 5px;
}
.services-box img {
    max-height: 120px;

  
  }



#team{
    background-color: #E7F1F8;
    width: 100%;
    float: left;
}
.team-writing-part{
    width: 100%;
    float: left;

}
.team-box-part{
    width: 100%;
    float: left;

}
.team-box{
    width: 25%;
    float: left;
    text-align: center;

}
.team-box img{
    max-width: 50%;
    padding: 18px;
}



.team-social-icon i{
    font-size:20px;
    padding: 10px;
    background: aqua;
    border-radius: 50%;
    color: #fff ;
    width: 45px;
    margin: 0px 5px;
}
#skills{
    width:100%;
    float: left;
    background-color: #E0E9EE;
}
.skills-writing-part{
    width:100%;
    float: left;
}
.skills-box-part{
    width: 100%;
    float: left;
}
.skills-box{
    width: 25%;
    float: left;
}
.skills-box img{
    width: 30%;
    margin: 5px;
}
#portfolio{
    width: 100%;
    float: left;
    background-color:  #FFDD99;
}
.portfolio-writing-part{
    width: 100%;
    float: left;
}
.portfolio-writing-part a button{
    padding: 5px;
    margin: auto;
    
}
.b{
   background-color:#E7F1F8 ;
   color: black;
   max-width: 4%;
   padding: 2px;
}
.t{
   background-color: rgb(218, 206, 206) ;
   color: black;
   max-width: 4%;
   padding: 2px;
}
.o{
   background-color: rgb(226, 213, 213) ;
   color: black;
   max-width: 4%;
   padding: 2px;
}
.n{
   background-color: rgb(231, 218, 218) ;
   color: black;
   max-width: 4%;
   padding: 2px;
}
.portfolio-box-part{
    width: 100%;
    float: left;
}
.portfolio-box-1{
    width: 50%;
    float: left;
}
.portfolio-box-1 img{
    width:50%;
    margin: 5px;
}
.portfolio-box-2{
    width: 50%;
    float: left;
}
.portfolio-box-2 img{
    width:50%;
    margin: 5px;
    

}
.bt{
    background-color: #17C2A4;
    margin-top: 50px;
}
#About{
    width: 100%;
    float: left;
    background-color: #D74680;
}
.About-Writing-Part{
    width: 100%;
    float: left;
}
.About-Box-Part{
    width:100%;
    float: left;
}
.About-Box-1{
    width:50%;
    float:left;
}
.About-Box-1{
    width:50%;
    float:left;
}

.About-Box-2{
    width:50%;
    float:left;
}
.About-Box-2{
    width:50%;
    float:left;
}
#get{
    width: 100%;
    float: left;
    background-color: #3C5499;
    color:#fff
}
.get-writing-part h1{
    font-family: Titilliumweb;
    font-size: 20px;
    font-weight: 300;
}
.get-writing-part h4{
    font-size: 10px;
    font-weight: 300;
}
input{
    background-color: #273A71;
    color:#fff;
    margin: 5px;
    padding: 10px;
    width: 21.5%;
  
    font-size: 9px;
    font-weight: 100%;
}
textarea{
    background-color: #273A71 ;
    color:#fff;
    font-size: 9px;
    font-weight: 200;
    width: 45%;
    padding: 25px;

}
button{

    background-color: aliceblue;
    color: #fff;
    width: 15%;
    padding: 10px;
    font-size: 10px;
    font-weight: 300;
    
}
.footer-container{
    width: 100%;
    float: left;
    background-color:#273c7c ;
    padding: 20px;
    
}
 ul{
    margin: 0px 10px;
    text-align: center;
    
     
}
 li{
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 a {
    text-decoration: none;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    font-size: 12px;
    font-weight: 300;
    
  }
